/target
/.idea
/cache
Cargo.lock

# configuration files
python-config

# log files
nohup.out
.cargo-output

# optional folder to put website in if it's not on the disk somewhere
website/

# place for dependencies, i.e. other git repositories or files that
# need to be hosted locally.
deps/

# server logs
log/